body {
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: 'Hammersmith One', sans-serif;
}

section.main {
    height: 100vh;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.faq {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-header {
    font-size: 3em;

}

p {
    font-family: 'Inter', sans-serif;
    color: #4d4d4d;
}

.black {
    color: #212529;
}

.navbar-toggler {
    font-size: .4rem;
    border: none;
}