body {
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: 'Hammersmith One', sans-serif;
    /* font-family: 'Voltaire', sans-serif; */
}

section.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: #0a9da4;
}